@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

/*Sets the default font and base size for the 
entire webiste*/
body{
    font-family: "Science Gothic", sans-serif;
    font-size: 20px;
    margin: auto;
    padding: 0%;
}

/*HEADER TEXT*/

h1{
    font-size: 30px;
    font-weight: bold;
}

p{
    font-size: 15px;
}

/*INPUT STYLE*/

input [type=text],
input [type="email"],
input [type="tel"],
textarea{
    width: 300px;
    margin: auto;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 8px;
    font-size: 15px;
    display: block;
}

textarea{
    width: 250px;
    height: 130px;
}

/*Submit Button*/
input [type="submit"]{
    margin-top: auto;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

input[type="submit"]:hover{
    background-color: aquamarine;
}