/*Set font-family for whole document*/
html {
  font-family: Arial, sans-serif;
}

.content-container {
  margin-right: 15%;
  margin-left: 15%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #7b7485;
  overflow: hidden;
  margin-bottom: 18px;
  font-weight: bold;
  font-size: x-large;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000080;
  color: white;
}

/*Styling the 'informational tiles' on the page*/
.info_tile{
  border-style: 0px solid black;
  box-shadow: 4px 5px 10px grey;
  margin-bottom: 18px;
  padding: 25px;
}

/*Apply paragraph style rules ONLY for paragraphs inside my 'info tiles'*/
.info_tile p{
  text-align: justify;
}

img{
  float: right;
}

/*Styling the 'Impact' paragraph*/
#impact_para{
  font-size: x-large;
  padding: 78px;
}